$verde1: #001514;
$verde2: #192d21;
$verde3: #3d5033;
$verde4: #617345;
$verde5: #a6bc9c;
$verde6: #acb69c;
$branco: #f6f8f2;

header{
    background-color: $verde6;
    padding: 1% 0%;

 a{
     color: $branco;
     text-decoration: none;
     padding: 5px;
 }

 
}
hr{
    color: $verde2;
    margin: 8em;
}



footer{
    background-color: $verde6;
    color: $branco;
}